.gl-video-player__wrapper {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.gl-video-player__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
